 .icon-success {
color:green;
text-align: left;
margin-left:-1.5em;
font-size: 20px;
}

.icon-fail {
color:red;	
text-align: left;
margin-left:-1.5em;
font-size: 20px;
} 


.result_data{
	width: 80vw;
	margin: 0 auto;
	display: block;
}


.result_data tr{
	width: 100%;
}

.result_data td{
	min-width: 20%;
    border-right: 1px solid gray;
    text-align: left;
    padding: 10px;
    padding-left: 50px;
}
table{
	width:80%;
	margin-left: 12em;
}

table tr{
	border: 1px solid gray;
}

.input-group .input-group-addon + .form-control
{
    border-left:none;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    height:100%;
   
}
.col-sm-2
{
	text-align: left;
	margin-left:10em;
}
.form_block{
	position:relative;
}

.form_block span{
	position:absolute;
	top:0;
	width:2vw;
	left:2.3vh;
	z-index: 10;
	height:5.2vh;
	padding-top:1vh;
}

.form_block input{
	padding-left: 3vw;
	width:34.5vw;
}