<div class="container">

<div *ngIf="!edited"  class="form-horizontal">
	<form (ngSubmit)="addCustomer()" [formGroup]="addCustomerForm"
		method="post" >
		
		<h3 class="form_heading">NEW CUSTOMER</h3>		
		
		<div class="col-lg-6 ">
			<div class="form-group"><!-- 
					<label>SSNID</label> -->
					
					<input type="text" id="{{ (f['ssnId'].valid)? 'validField': '' }}{{ (!f['ssnId'].valid && f['ssnId'].touched)? 'invalidField': '' }}" 
						   formControlName="ssnId" class="form-control" placeholder="SSN ID">
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['ssnId'].valid    && f['ssnId'].touched">SSNID is
						Required</span>
				
			</div>
	
			<div class="form-group">
				<!-- 	<label style="color: red;">*</label><label>Customer Name:</label>
				 -->
					<input type="text" id="{{ (f['name'].valid)? 'validField': '' }}{{ (!f['name'].valid && f['name'].touched)? 'invalidField': '' }}"
							formControlName="name" class="form-control" placeholder="Customer Name">
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['name'].valid   && f['name'].touched">Name is
						Required</span>
		
			</div>
	
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label style="color: red;">*</label><label>Customer DOB:</label>
				</div> -->
					<input type="text" 
						id="{{ (f['dob'].valid)? 'validField': '' }}{{ (!f['dob'].valid && f['dob'].touched)? 'invalidField': '' }}"
						formControlName="dob" class="form-control" placeholder="Date Of Birth" onclick="this.type='date'">
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['dob'].valid   && f['dob'].touched">DOB is
						Required</span>
				
			</div>
			
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label style="color: red;">*</label><label>Customer Email:</label>
				</div> -->
					<input type="text" 
					id="{{ (f['email'].valid)? 'validField': '' }}{{ (!f['email'].valid && f['email'].touched)? 'invalidField': '' }}"
					formControlName="email" class="form-control" placeholder="E-Mail">
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['email'].valid  && f['email'].touched">Email is
						Required</span>
				
			</div>
	
			<div class="form-group">
					<input type="text" 
					id="{{ (f['contact'].valid)? 'validField': '' }}{{ (!f['contact'].valid && f['contact'].touched)? 'invalidField': '' }}"
					formControlName="contact" class="form-control" placeholder="Contact">
					
					<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['contact'].valid  && f['contact'].touched">Contact
						is Required</span><br>
				
			</div>
			<div class="form_col_1"></div>
		</div>
		<div class="col-lg-6">	
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label style="color: red;">*</label><label>Customer Address
						Line1:</label>
				</div> -->
				<!-- <div class="col-sm-8">
				 -->	<input type="text"
				 			   id="{{ (f['address1'].valid)? 'validField': '' }}{{ (!f['address1'].valid && f['address1'].touched)? 'invalidField': '' }}"
				 			   formControlName="address1" class="form-control" placeholder="Address Line 1">
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['address1'].valid  && f['address1'].touched">Address
						is Required</span>
				<!-- </div> -->
			</div>
	
	
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label>Customer Address Line 2:</label>
				</div> -->
				<!-- <div class="col-sm-8">
				 -->
				 <input type="text" formControlName="address2" class="form-control" placeholder="Address Line 2">
				<!-- </div> -->
			</div>
			
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label style="color: red;">*</label><label>Customer City:</label>
				</div> -->
				
				<!-- <div class="col-sm-8">
				 -->	<select 
				 		id="{{ (f['city'].valid) && f['city'].touched? 'validField': '' }}{{ (!f['city'].valid && f['city'].touched)? 'invalidField': '' }}"
				 			  
				 		formControlName="city" class="form-control" [value]="0">
					 	<option disabled value="0">City</option>
						<option value="1">Trivandrum</option>
					</select>
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['city'].valid   && f['city'].touched">City is
						Required</span>
				<!-- </div> -->
			</div>
	
			<div class="form-group">
				<!-- <div class="col-sm-4">
					<label style="color: red;">*</label><label>Customer Pin
						Code:</label>
				</div> --><!-- 
				<div class="col-sm-8"> -->
					<input type="text" 
							id="{{ (f['pincode'].valid)? 'validField': '' }}{{ (!f['pincode'].valid && f['pincode'].touched)? 'invalidField': '' }}"
				 			formControlName="pincode" class="form-control" placeholder="Pincode">
					
						<span class="mandatory_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 16 20" style="enable-background:new 0 0 16 16;" xml:space="preserve"><polygon points="14.995,4.616 13.995,2.884 9,5.768 9,0 7,0 7,5.768 2.004,2.883 1.004,4.616 6,7.5 1.004,10.384 2.004,12.116   7,9.232 7,15 9,15 9,9.232 13.995,12.116 14.995,10.384 10,7.5 "/></svg></span>
					
					
					<span style="color: red;"
						*ngIf="!f['pincode'].valid    && f['pincode'].touched">Pin
						Code is Required</span>
				<!-- </div> -->
		</div>
		</div><!-- 
		<div class="col-sm-4"></div>
		<div class="col-sm-8"> -->
			<button type="submit" class="btn btn-primary"
				[disabled]="!this.addCustomerForm.valid">Add Customer</button>
		<!-- </div> -->
		<div class="formError" *ngIf="formError" style=" margin-top:4%;color:red">
		<Span>{{formErrorData}}</Span>
	</div> 
	</form>
	<br>
	<span style="padding-top:1vw; color:red">Fields marked with (*) are mandatory.</span>
	</div>
	
	
	
	<div  *ngIf="stsMsg!=null && sts==false" style="color:red; text-align:center">
			<h5>{{stsMsg}}</h5>
	</div>
	
	<div class="result_data" *ngIf="edited" style="width:100%; margin: 0 auto">
		
		
		
		
		<div *ngIf="stsMsg!=null && sts==true" style="color:green; text-align:center">
			<h5>{{stsMsg}}</h5>
		</div>
		
		<table style="width:100%" class="custInfo">
		<tr>
				<td>Customer ID:</td>
				<td>{{addedCustId}}</td>
			</tr>
			<tr>
				<td>Customer SSN ID:</td>
				<td>{{addedCustomerSSN}}</td>
			</tr>
			<tr>
				<td>Customer Name:</td>
				<td>{{addedCustomerName}}</td>
			</tr>
			<tr>
				<td>Customer DOB:</td>
				<td>{{addedCustomerDOB}}</td>
			</tr>
			<tr>
				<td>Customer Email:</td>
				<td>{{addedCustomerEmail}}</td>
			</tr>
			<tr>
				<td>Customer Contact:</td>
				<td>{{addedCustomerContact}}</td>
			</tr>
			<tr>
				<td>Customer Address:</td>
				<td>{{addedCustomerAddress}}</td>
			</tr>
		</table>
	</div>


</div>