<!-- 
<div style="float: left;">
	<div class="menuExecution">
		<div class="nav-side-menu">
			<div class="menu-list">
				<ul id="menu-content" class="menu-content collapse out">
					<li><i class="fa fa-user fa-lg"></i> Customer Service</li>
					<ul class="sub-menu " id="products">
						<li><a routerLink="/addCustomer"><i
								class="fa fa-user-plus fa-lg"></i>Create Customer</a></li>

						<li><a routerLink="/viewCustomer"><i
								class="fa fa-users fa-lg"></i>Customer List</a></li>

						<li><a routerLink="/checkCustomer"><i
								class="fa fa-check-circle fa-lg"></i>Customer Status</a></li>
					</ul>
					<li data-target="#service" class="collapsed"><i
						class="fa fa-institution  fa-lg"></i> Account Service

						<ul class="sub-menu " id="service">
							<li><a routerLink="/addAccount"><i
									class="fa fa-id-card-o  fa-lg"></i>Create Account</a></li>
							<li><a routerLink="/viewAccount"><i
									class="fa fa-book  fa-lg"></i>Account Detail</a></li>
							<li><a routerLink="/checkAccount"><i
									class="fa fa-check-square-o  fa-lg"></i>View Account Status</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div style="float: left">
	<app-service-component></app-service-component>
</div>
 -->


