<div class="container left_container">
<div class="bg">
<h2>Security Tips</h2><hr/>
<ul>
<li> Do not reveal passwords over phone/email etc. to any person including Bank.</li>
<li> Change your password regularly. Keep your password a combination of alphabets, special characters and numbers.</li>
<li> Use on-screen KEYPAD for logging when you are not using your own PC.</li>
<li> Don't Click on website links/attachments in un-known/suspicious emails. These links may take you to replica of bank's website and ask for keying in your user-id and password(s).</li>
<li> To ensure safe and genuine login,always enter bank's web-app through provided url.</li>
<li> In case there is any call, please confirm that call is from the authorized person of the bank.</li>
</ul>
</div>

</div>
