<!-- 
<div style="float: left;">
	<div class="menuExecution">
		<div class="nav-side-menu">
			<div class="menu-list">
				<ul id="menu-content" class="menu-content collapse out">


					<li><a routerLink="cashier/deposit"><i class="fa fa-plus fa-lg"></i>&nbsp;Deposit</a></li>
					<li><a routerLink="/withdraw"><i class="fa fa-minus fa-lg"></i>&nbsp;Withdraw</a></li>
					<li><a routerLink="/transfer"><i
							class="fa fa-handshake-o fa-lg"></i>&nbsp;Transfer Amount</a></li>
					<li><a routerLink="/viewTransaction"><i
							class="fa fa-book fa-lg"></i>Transaction Summary</a></li>


				</ul>
			</div>
		</div>
	</div>
</div>
<div style="float: left">
		<app-service-component></app-service-component>
</div>
 -->
